@if (mode != 'edit') {
  <div>
    <h3>{{ board.Name }}</h3>

    @if (!displayPlayAgain) {
    <button mat-raised-button (click)="abandon()">Abandon</button>
    <button mat-flat-button (click)="save()">Save</button>
    } @else { Well Done!
    <button mat-raised-button (click)="abandon()">Play again</button>
    }
  </div>
  <app-board
    [cards]="board.Cells"
    [previewMode]="!displayPlayAgain ? null : 'preview'"
    (reachedBingo)="displayPlayAgain = board.GameMode === 'traditional'"
    (checkedAll)="displayPlayAgain = true"
  ></app-board>
} @else { @let cardsPreview = cards$ | async; @if (!!cardsPreview) {
  <mat-stepper [linear]="true" orientation="vertical" #stepper>
    <mat-step [stepControl]="boardForm">
      <form [formGroup]="boardForm" class="details">
        <ng-template matStepLabel>Board details</ng-template>
        <app-board [cards]="cardsPreview" [previewMode]="'indicator'"></app-board>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Board size</mat-label>
          <mat-select
            formControlName="BoardSize"
            (selectionChange)="resizeBoard($event.value)"
          >
            <mat-option [value]="9">3x3</mat-option>
            <mat-option [value]="16">4x4</mat-option>
            <mat-option [value]="25">5x5</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Game mode</mat-label>
          <mat-select formControlName="GameMode">
            <mat-option [value]="'traditional'"
              >Traditional (reach one)</mat-option
            >
            <mat-option [value]="'todo'">Todo (reach all)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [subscriptSizing]="'dynamic'">
          <mat-label>Name</mat-label>
          <input matInput placeholder="My bingo board" formControlName="Name" />
        </mat-form-field>

        <div class="action-footer">
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="cardsFormArray" label="Board cells">
      <form class="details">
        <app-board [cards]="cardsPreview" [previewMode]="'indicator'"></app-board>

        <button mat-button (click)="prefill()">Prefill</button>

        <div class="cells">
          @for (control of cardsFormArray.controls; track idx; let idx = $index) {
          <ng-container [formGroup]="control">
            <mat-form-field>
              <mat-label
                >Row {{ Math.ceil((idx + 1) / boardCols) }}, Col
                {{ (idx % boardCols) + 1 }}</mat-label
              >
              <input
                matInput
                (focus)="indicateFocused(control)"
                (blur)="indicateFocused(control, 'out')"
                (mouseover)="
                  !focused ? indicateFocused(control, null, true) : null
                "
                (mouseout)="
                  !focused ? indicateFocused(control, 'out', true) : null
                "
                placeholder="Enter something"
                formControlName="Name"
              />
            </mat-form-field>
          </ng-container>
          }
        </div>

        <div class="action-footer">
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      @let boardDetails = boardForm.getRawValue();

      <ng-template matStepLabel>Done</ng-template>
      <h3>{{ boardDetails.Name }}</h3>
      <app-board [cards]="cardsPreview" [previewMode]="'preview'"></app-board>

      <p>
        {{ boardDetails.GameMode | titlecase }} Bingo game,
        {{
          boardDetails.GameMode === "traditional"
            ? "it's over when " +
              boardCols +
              " horizontal, vertical or diagonal cells are marked"
            : "it's over when all cells are marked"
        }}
      </p>
      <div class="action-footer">
        <button matButton matStepperPrevious>Back</button>
        <button matButton (click)="scramble()">Scramble</button>
        <button mat-flat-button (click)="start()">Start</button>
      </div>
    </mat-step>
  </mat-stepper>
} }
