@let cardsPreview = cards$ | async; @let isLoggedIn = user$ | async; @if (!!cardsPreview) {
<mat-stepper
  aria-label="Game setup"
  class="no-space-on-last-step"
  [linear]="true"
  orientation="vertical"
  #stepper
  (selectionChange)="scrollTo($event)">
  <!--So I'm not sure if it's a bug or what, but without explicitly telling this step that it's not editable
  when the user enters more than 200 chars as reward, they can switch to it and get stuck. They can't switch to the cells.-->
  <mat-step
    [stepControl]="boardForm"
    [editable]="!(boardForm.controls.TodoGame.invalid || boardForm.controls.TraditionalGame.invalid)">
    <ng-template matStepLabel>Board details</ng-template>
    <div class="container">
      <app-board [cards]="cardsPreview" [previewMode]="'indicator'"></app-board>
      <app-board-details-form
        [isLoggedIn]="!!isLoggedIn"
        [board]="baseBoard"
        [createMode]="true"
        (resizeBoard)="resizeBoard($event)"></app-board-details-form>

      <div class="action-footer">
        <button matButton matStepperNext [disabled]="boardForm.controls.Name.hasError('maxlength')">
          Next
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="cardsFormArray" label="Board cells">
    <form class="container">
      <app-board [cards]="cardsPreview" [previewMode]="'indicator'"></app-board>

      <form class="cells" aria-label="Task inputs">
        @for (control of cardsFormArray.controls; track idx; let idx = $index, last = $last) {
        <ng-container [formGroup]="control">
          <mat-form-field [subscriptSizing]="'dynamic'">
            <mat-label
              >Row {{ Math.ceil((idx + 1) / boardSize) }}, Col
              {{ (idx % boardSize) + 1 }}</mat-label
            >
            <input
              matInput
              (focus)="indicateFocused(control)"
              (blur)="indicateFocused(control, 'out')"
              (mouseover)="
                !inputFocused ? indicateFocused(control, null, true) : null
              "
              (mouseout)="
                !inputFocused ? indicateFocused(control, 'out', true) : null
              "
              placeholder="Enter something"
              formControlName="Name" />
            @if(control.controls.Name.hasError("maxlength")) {
            <mat-error> You can only enter 200 characters. </mat-error>
            }
          </mat-form-field>

          @if(($index + 1) % boardSize === 0 && !last) {
          <mat-divider></mat-divider>
          }
        </ng-container>
        }
      </form>

      <div class="action-footer">
        <button mat-stroked-button (click)="prefill()">Prefill</button>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext [disabled]="cardsFormArray.invalid">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="boardForm.controls.TodoGame" label="Deadline and rewards">
    <div class="container">
      <app-deadline-reward-form
        [createMode]="true"
        [gameMode]="boardForm.getRawValue().GameMode"></app-deadline-reward-form>

      <div class="action-footer">
        <button
          matButton
          matStepperPrevious
          [disabled]="boardForm.controls.TodoGame.invalid || boardForm.controls.TraditionalGame.invalid">
          Back
        </button>
        <button
          matButton
          matStepperNext
          [disabled]="boardForm.controls.TodoGame.invalid || boardForm.controls.TraditionalGame.invalid">
          Next
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    @let boardDetails = boardForm.getRawValue();

    <ng-template matStepLabel>Done</ng-template>
    <div class="overview-container">
      <div class="container">
        @let switchTo = gridMode() === 'grid' ? 'list' : 'grid'; @let buttonLabel = 'Switch to ' +
        switchTo + ' view';

        <div class="title">
          <app-game-mode-icon [gameMode]="boardDetails.GameMode"></app-game-mode-icon>
          <h3>
            {{ boardDetails.Name || "Untitled Board" }}
          </h3>
          <button
            class="view-switch"
            [matTooltip]="buttonLabel"
            attr.aria-label="{{ buttonLabel }}"
            matIconButton
            (click)="gridMode() === 'grid' ? gridMode.set('list') : gridMode.set('grid'); scrollTo($any({selectedIndex:3}))">
            <mat-icon>{{ gridMode() === "grid" ? "list" : "grid_on" }}</mat-icon>
          </button>
        </div>

        @if (gridMode() === 'list') {
        <app-board-list-view
          [cards]="$any(cardsFormArray.getRawValue())"
          [disabled]="true"></app-board-list-view>
        } @else {
        <app-board
          [cards]="$any(cardsFormArray.getRawValue())"
          [previewMode]="'preview'"></app-board>
        }

        <div class="action-footer">
          <button mat-stroked-button (click)="scramble()">Shuffle</button>
          <button matButton matStepperPrevious>Back</button>
          <button mat-flat-button (click)="createBoard()">Create</button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-stepper>
}
