// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: -2,
    )
  );

  a {
    color: var(--mat-sys-primary);
    text-decoration: none;

    &.brand {
      color: white;

      mat-icon {
        color: #ffb300;
      }
    }
  }
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  color-scheme: light dark; // use light to make light the default, light dark to use system settings
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  // eventually I'd like to move to setting picker, but as a start, use system settings
  // &.dark-mode {
  //   color-scheme: dark;
  // }

  @include mat.dialog-overrides(
    (
      container-color:
        light-dark(var(--mat-sys-surface), var(--mat-sys-surface-container-low)),
    )
  );
}

mat-stepper.no-space-on-last-step {
  & .mat-step:last-of-type {
    & .mat-vertical-content {
      padding: 0;
    }

    & .mat-vertical-content-container {
      margin-left: 0;
    }
  }
}

:root {
  --yellow-primary: light-dark(hsl(from #f2a516 h calc(s + 3) calc(l + 8)), #f2a516);
  --green-primary: #027333;
  --blue-primary: light-dark(hsl(from #00458f h s calc(l + 2.5)), #00458f);
  --red-primary: #bf2234; 

  @include mat.card-overrides(
    (
      elevated-container-color:
        light-dark(white, var(--mat-sys-surface-container-low)),
    )
  );

  mat-toolbar {
    @include mat.toolbar-density(-3);
  }

  @include mat.toolbar-overrides(
    (
      container-background-color: #00458f,
      container-text-color: white,
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-primary),
    )
  );

  mat-card {
    &.bg-yellow {
      background-color: var(--yellow-primary);
      color: black;
    }

    &.bg-green {
      background-color: var(--green-primary);
      color: white;
    }

    &.bg-blue {
      background-color: var(--blue-primary);
      color: white;
    }
  }
}
