:host {
  --warning: #ffa726;
  --success: #66bb6a;
  --info: #29b6f6;
  --error: #f44336;
  --color: white;

  padding: 0.7rem;
  display: grid;
  grid-template-columns: max(24px, fit-content) auto;
  grid-template-rows: max(24px, fit-content) auto;
  grid-template-areas:
    "icon title"
    ". content";
  gap: 0.3rem 0.4rem;
  border-radius: var(--mat-sys-corner-medium);
  background-color: light-dark(
    hsl(from var(--color) h calc(s - 30) calc(l + 30)),
    hsl(from var(--color) h calc(s - 30) calc(l - 50))
  );
  color: light-dark(
    hsl(from var(--color) h s calc(l - 45)),
    hsl(from var(--color) h s calc(l + 25))
  );

  &:has(div:empty) {
    gap: 0 0.4rem;
  }

  mat-icon {
    grid-area: icon;
    --mat-icon-color: var(--color);
  }

  h3 {
    font-weight: 500;
    grid-area: title;
    margin: 0;
    align-content: center;
  }

  div {
    grid-area: content;
  }
}
