:host {
  --line-empty-space: 10px;
  --spacing-top: calc(0.9rem - var(--line-empty-space));
  display: flex;
  flex-direction: column;

  .group {
    display: flex;
    gap: 6px;

    div.separator {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        color: light-dark(var(--green-primary), hsl(from var(--green-primary) h s calc(l + 15)));
      }

      & *:first-child:not(.connector) {
        margin-top: calc(var(--line-empty-space) + var(--spacing-top));
      }

      .deadline {
        --mat-icon-color: var(--red-primary);
      }

      .trophy {
        border-width: 0;
        border-style: solid;
        border-radius: 100%;
        background: light-dark(gold, transparent);
        font-size: 22px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 2px;
        --mat-icon-color: light-dark(black, gold);
      }

      & :not(.connector) {
        margin: var(--line-empty-space) 0;
      }

      .connector {
        &:first-child {
          flex-grow: 0;
          height: var(--spacing-top);
        }
        width: 1px;
        flex-grow: 1;
        background: var(--mat-sys-secondary);
      }
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    mat-card.margin-left {
      margin-left: 1rem;
    }

    .extra-bottom-margin {
      margin-bottom: 1rem;
    }

    .event {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-bottom: 2rem;

      mat-icon {
        font-size: inherit;
        height: fit-content;
        width: fit-content;
      }

      .main-event-with-date {
        display: grid;
        grid-template-columns: fit-content(calc(100% - 100px)) 1fr;

        & + .entry {
          margin-top: 0.5rem;
        }

        time:not(.cdk-visually-hidden) {
          padding-left: 1rem;
          margin-top: 0.1rem;
          margin-right: 0;
        }
      }

      .entry {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        &:not(:last-of-type) {
          margin-bottom: 0.3rem;
        }

        --mat-icon-color: var(--mat-sys-secondary);
      }
    }
  }

  time:not(.cdk-visually-hidden) {
    margin-left: auto;
    margin-right: 3px;
    color: var(--mat-sys-secondary);
    font-size: smaller;
    text-align: end;
  }
}
