@let user = user$ | async;

<mat-toolbar role="banner">
    <a class="brand" [routerLink]="''">
      <img class="icon" src="bingo.svg">
      BINGO TODO
    </a>
    <a>
      @if (!!user) {
        <button matButton (click)="logout()" disabled>Sign Out</button>
      } @else {
        <button matButton (click)="login()" disabled>Sign In</button>
      }
    </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    @if (!!user) {
      <a [routerLink]="['profile']" class="btn btn-secondary">View Your Profile {{user.name}}</a> 
    }

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
