:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  router-outlet {
    display: none;
  }

  .brand .icon {
    height: 24px;
    width: 24px;
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;

    & > a:first-of-type {
      display: flex;
      gap: 0.3rem;
      align-items: center;
    }
  }

  mat-sidenav-container {
    flex: 1;
    // without this on the board page text can clip through between a slight crack between the toolbar and the sticky header
    // at least on chrome device emulation
    top: -1px;

    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      box-sizing: border-box;
    }
  }
}
