:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5rem;

  & mat-card {
    &:hover:not(.bg-yellow):not(.bg-green) {
        cursor: pointer;
    }

    mat-card-content {
      margin-top: 0.5rem;
    }

    scroll-snap-align: start;
    width: 98%;
  }
}
