<!-- prettier-ignore -->
@let tooltips = { 
    creator: "Board created by you.",
    visible_local: "Local board, not visible or available for others and on other devices.",
    visible_unlisted: "Unlisted board, only visible to you and whoever you share the link with.",
    visible_public: "Public board, visible to those who visit your profile.",
    game_mode_bingo: "Bingo game mode with the goal of reaching a vertical, horizontal or diagonal pattern from marked tasks.",
    game_mode_todo: "TO-DO game mode with the goal of marking all tasks.",
};
@let switchTo = gridMode() === 'grid' ? 'list' : 'grid';
@let buttonLabel = 'Switch to ' + switchTo + ' view';
@let totalCells = board().Cells.length;

<div class="header">
  <h1>
    @if (goalReached()) {
    <mat-icon
      fontSet="material-symbols-outlined"
      class="trophy"
      [matTooltip]="'Goal reached on ' + (board().CompletedAtUtc | date : 'MMM dd, yyyy')"
      >trophy</mat-icon
    >
    }
    {{ board().Name || "Untitled Board" }}
  </h1>

  @if (displayMode() !== 'edit' && displayMode() !== 'history' && pendingSelectCount() === 0) {
  <button matIconButton [matMenuTriggerFor]="menu" aria-label="Available actions">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="editBoard()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <a mat-menu-item [routerLink]="['/board/copy/', this.board().Id ?? 'local']">
      <mat-icon>content_copy</mat-icon>
      Copy
    </a>
    <button mat-menu-item (click)="deleteBoardClick()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-menu>
  } @else {
  <menu aria-label="Edit and save actions">
    @if (pendingSelectCount() !== 0) {
    <button mat-button (click)="unselect()">
      Unselect
      <span class="cdk-visually-hidden">all {{ pendingSelectCount() }} selected tasks</span>
    </button>
    <button mat-flat-button (click)="saveSelected()">
      Save ({{ pendingSelectCount() }})
      <span class="cdk-visually-hidden">selected tasks as done</span>
    </button>
    } @else if (displayMode() === 'history') {
    <button mat-button (click)="displayMode.set('board')">Close history</button>
    } @else if (displayMode() === 'edit') {
    <button mat-button (click)="cancelChanges()">
      Cancel<span class="cdk-visually-hidden"> changes</span>
    </button>
    <button mat-flat-button (click)="saveChanges()" [disabled]="boardForm.controls.Name.disabled">
      Save
    </button>
    }
  </menu>
  }
</div>

@if (displayMode() === 'edit') {
<section class="edit" aria-label="Game actions and game edit form">
  @if (displayConflictMessage()) {
  <app-message [type]="'warning'" [title]="'Conflict'">
    <p>It seems you've modified the board elsewhere since you've started editing here.</p>
    <p>
      Please either reload, or cancel and re-enter edit mode to edit the latest version of the
      board.
    </p>
    <p>Your changes applied here will be lost.</p>
  </app-message>
  }

  <app-board-details-form
    [isLoggedIn]="board().Visibility !== 'local'"
    [gameFinished]="allChecked()"
    [board]="board()"
    [traditionalOptionDisabled]="traditionalOptionDisabled()"
    [createMode]="false"></app-board-details-form>

  @if (boardForm.getRawValue().GameMode === 'todo' ? !board().TodoGame.CompletedAtUtc :
  !board().TraditionalGame.CompletedAtUtc) {
  <app-deadline-reward-form [createMode]="false" [gameMode]="boardForm.getRawValue().GameMode">
  </app-deadline-reward-form>
  }

  <!-- prettier-ignore -->
  @let hasRewardOrDeadlineTraditional = !!board().TraditionalGame.CompletedAtUtc &&
  (!!board().TraditionalGame.CompletionReward || !!board().TraditionalGame.CompletionDeadlineUtc);
  @let hasRewardOrDeadlineTodo = !!board().TodoGame.CompletedAtUtc &&
  (!!board().TodoGame.CompletionReward || !!board().TodoGame.CompletionDeadlineUtc);

  <!-- prettier-ignore -->
  @if (hasRewardOrDeadlineTraditional || hasRewardOrDeadlineTodo) {
  <mat-card [appearance]="'outlined'">
    <h4>Remove reward/deadline</h4>
    @if(hasRewardOrDeadlineTraditional) {
    <span>For completed game: traditional</span>
    <app-deadline-reward-form [createMode]="false" [gameMode]="'traditional'">
    </app-deadline-reward-form>
    }

    <!-- prettier-ignore -->
    @if (hasRewardOrDeadlineTraditional && hasRewardOrDeadlineTodo) {
    <mat-divider></mat-divider>
    }

    <!-- prettier-ignore -->
    @if(hasRewardOrDeadlineTodo) {
    <span>For completed game: to-do</span>
    <app-deadline-reward-form [createMode]="false" [gameMode]="'todo'"> </app-deadline-reward-form>
    }
  </mat-card>

  }
</section>
}

<div class="board-container">
  @if (displayMode() !== 'edit') {
  <ng-container *ngTemplateOutlet="boardInfo"></ng-container>
  } @if (displayMode() === 'history') {
  <app-board-history [board]="board()"></app-board-history>
  } @if (displayMode() !== 'history') {
  <section aria-label="Board">
    <app-board [(cards)]="cells" [previewMode]="boardPreviewMode()"></app-board>
    @if (gridMode() === 'list') {
    <app-board-list-view
      [(cards)]="cells"
      [disabled]="displayMode() !== 'board' || goalReached()"
      [groupBy]="groupingOption"></app-board-list-view>
    <div>
      Group by
      <mat-button-toggle-group aria-label="List view grouping switch" [(ngModel)]="groupingOption">
        <mat-button-toggle value="row">Row</mat-button-toggle>
        <mat-button-toggle value="col">Column</mat-button-toggle>
        <mat-button-toggle value="diagonal">Diagonal</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    }
  </section>
  }
</div>

<ng-template #boardInfo>
  <section [style.width]="'100%'" aria-label="Game information and toolbar">
    <!-- prettier-ignore -->
    <div>
      <app-game-mode-icon [gameMode]="board().GameMode"></app-game-mode-icon>

      <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['creator']">person</mat-icon>
      <span class="cdk-visually-hidden">{{ tooltips["creator"] }}</span>

      @switch (board().Visibility) { 
        @case ('local') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_local']"
          >visibility_off</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_local"] }}</span>
        } @case ('unlisted') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_unlisted']"
          >visibility_lock</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_unlisted"] }}</span>
        } @case ('public') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_public']"
          >visibility</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_public"] }}</span>
        }
      }

      <app-deadline-hourglass
        [completionDate]="board().CompletedAtUtc"
        [deadlineDate]="board().CompletionDeadlineUtc"
      ></app-deadline-hourglass>

      @if (goalReached()) {
        <mat-icon fontSet="material-symbols-outlined" class="trophy"
          [matTooltip]="'Goal reached on ' + (board().CompletedAtUtc | date : 'MMM dd, yyyy')"
          >trophy</mat-icon>
      } @else { 
        <app-progress-circle 
        [attr.aria-label]="boardStats().checkedCells + '/' + totalCells + ' tasks marked as done'"
        [matTooltip]="boardStats().checkedCells + '/' + totalCells + ' tasks marked as done'"
        [total]="totalCells"
        [green]="boardStats().bingoCells"
        [yellow]="boardStats().checkedCells"
        [blue]="boardStats().checkedCells + pendingSelectCount()">
      </app-progress-circle>
      }

      <button matIconButton (click)="toggleBoardHistoryDisplay()" [disabled]="!!pendingSelectCount()"
        [attr.aria-label]="(displayMode() === 'history' ? 'Close' : 'Open') + ' history'">
        <mat-icon>history</mat-icon>
      </button>
    </div>

    <menu aria-hidden="true">
      <button
        [matTooltip]="buttonLabel"
        attr.aria-label="{{ buttonLabel }}"
        matIconButton
        [disabled]="displayMode() === 'history'"
        (click)="gridMode() === 'grid' ? gridMode.set('list') : gridMode.set('grid')">
        <mat-icon>{{ gridMode() === "grid" ? "list" : "grid_on" }}</mat-icon>
      </button>
    </menu>
  </section>
</ng-template>
