:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;

    &:not(.actions) {
      gap: 0.5rem;
    }

    &.actions {
      flex-shrink: 0;
      margin-left: auto;
    }

    &.edit {
      flex-direction: column;
      gap: 1rem;

      h4 {
        margin: 0;
      }

      mat-divider {
        width: 100%;
      }

      app-board-details-form {
        flex-direction: column;
      }
    }
  }

  h1 {
    font-size: larger;
    font-weight: 500;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .trophy {
    --mat-icon-color: gold;
  }

  div.gradient {
    width: 100px;
    height: 100px;
    background-image: conic-gradient(
      hsl(from var(--green-primary) h s calc(l + 10)) var(--chart-green, 0deg),
      var(--yellow-primary) 0 var(--chart-yellow, 0deg),
      hsl(from var(--blue-primary) h s calc(l + 5)) 0 var(--chart-blue, 0deg),
      #74777f 0 360deg
    );
  }
}
