<!-- prettier-ignore -->
@let tooltips = { 
    creator: "Board created by you.",
    visible_local: "Local board, not visible or available for others and on other devices.",
    visible_unlisted: "Unlisted board, only visible to you and whoever you share the link with.",
    visible_public: "Public board, visible to those who visit your profile.",
    grid_mode_grid: "Switch to list view",
    grid_mode_list: "Switch to grid view",
    game_mode_bingo: "Bingo game mode with the goal of reaching a vertical, horizontal or diagonal pattern from marked tasks.",
    game_mode_todo: "TO-DO game mode with the goal of marking all tasks.",
    edit_button: "Edit the board name, game mode, deadline or delete it.", 
};
@let switchTo = gridMode() === 'grid' ? 'list' : 'grid';
@let buttonLabel = 'Switch to ' + switchTo + ' view';
@let totalCells = board().Cells.length;

<div>
  <h1>
    @if (goalReached()) {
    <mat-icon
      fontSet="material-symbols-outlined"
      class="trophy"
      [matTooltip]="'Goal reached on ' + (board().CompletionDateUtc | date : 'MMM dd, yyyy')"
      >trophy</mat-icon
    >
    }
    {{ board().Name || "Untitled Board" }}
  </h1>

  <menu aria-label="Edit and save actions">
    @if (pendingSelectCount() !== 0) {
    <button mat-button (click)="unselect()">
      Unselect
      <span class="cdk-visually-hidden">all {{ pendingSelectCount() }} selected tasks</span>
    </button>
    <button mat-flat-button (click)="saveSelected()">
      Save ({{ pendingSelectCount() }})
      <span class="cdk-visually-hidden">selected tasks as done</span>
    </button>
    } @else if (!editMode()) {
    <button
      matIconButton
      (click)="editBoard()"
      attr.aria-label="{{ tooltips['edit_button'] }}"
      [matTooltip]="tooltips['edit_button']">
      <mat-icon>edit</mat-icon>
    </button>
    } @else {
    <button mat-button (click)="cancelChanges()">
      Cancel<span class="cdk-visually-hidden"> changes</span>
    </button>
    <button mat-flat-button (click)="saveChanges()" [disabled]="boardForm.controls.Name.disabled">
      {{doDelete() ? 'Delete' : 'Save'}}
      @if(doDelete()) {
      <span class="cdk-visually-hidden"> board</span>
      }
    </button>
    }
  </menu>
</div>

@if (editMode()) {
<section class="edit" aria-label="Game actions and game edit form">
  <app-board-details-form
    [isLoggedIn]="board().Visibility !== 'local'"
    [gameFinished]="allChecked()"
    [board]="board()"
    [createMode]="false"></app-board-details-form>

  @if (boardForm.getRawValue().GameMode === 'todo' ? !board().TodoGame.CompletionDateUtc :
  !board().TraditionalGame.CompletionDateUtc) {
  <app-deadline-reward-form [createMode]="false" [gameMode]="boardForm.getRawValue().GameMode">
  </app-deadline-reward-form>
  }

  <mat-divider></mat-divider>

  <h3>Actions</h3>
  <mat-checkbox [(ngModel)]="doDelete" [disabled]="boardForm.controls.Name.disabled"
    >Delete board</mat-checkbox
  >
  <button matButton disabled>Create copy</button>

  @if(!!board().TraditionalGame.CompletionDateUtc && (!!board().TraditionalGame.CompletionReward ||
  !!board().TraditionalGame.CompletionDeadlineUtc)) {
  <h4>Remove reward/deadline for completed traditional game</h4>
  <app-deadline-reward-form [createMode]="false" [gameMode]="'traditional'">
  </app-deadline-reward-form>
  }

  <!-- prettier-ignore -->
  @if(!!board().TodoGame.CompletionDateUtc && (!!board().TodoGame.CompletionReward ||
  !!board().TodoGame.CompletionDeadlineUtc)) {
  <h4>Remove reward/deadline for completed todo game</h4>
  <app-deadline-reward-form [createMode]="false" [gameMode]="'todo'"> </app-deadline-reward-form>
  }

  <mat-divider></mat-divider>
</section>
}

<div class="board-container">
  @if (!editMode()) {
  <ng-container *ngTemplateOutlet="boardInfo"></ng-container>
  }
  <section aria-label="Board">
    <app-board [(cards)]="cells" [previewMode]="boardPreviewMode()"></app-board>
    @if (gridMode() === 'list') {
    <app-board-list-view
      [(cards)]="cells"
      [disabled]="editMode() || goalReached()"
      [groupBy]="groupingOption"></app-board-list-view>
    <div>
      Group by
      <mat-button-toggle-group aria-label="List view grouping switch" [(ngModel)]="groupingOption">
        <mat-button-toggle value="row">Row</mat-button-toggle>
        <mat-button-toggle value="col">Column</mat-button-toggle>
        <mat-button-toggle value="diagonal">Diagonal</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    }
  </section>
</div>

<ng-template #boardInfo>
  <section [style.width]="'100%'" aria-label="Game information and toolbar">
    <!-- prettier-ignore -->
    <div>
      <img
        src="{{ board().GameMode === 'todo' ? 'todo' : 'bingo' }}.svg"
        [matTooltip]="board().GameMode === 'todo' ? tooltips['game_mode_todo'] : tooltips['game_mode_bingo']"
        alt="{{ board().GameMode === 'todo' ? tooltips['game_mode_todo'] : tooltips['game_mode_bingo'] }}" />

      <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['creator']">person</mat-icon>
      <span class="cdk-visually-hidden">{{ tooltips["creator"] }}</span>

      @switch (board().Visibility) { 
        @case ('local') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_local']"
          >visibility_off</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_local"] }}</span>
        } @case ('unlisted') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_unlisted']"
          >visibility_lock</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_unlisted"] }}</span>
        } @case ('public') {
          <mat-icon fontSet="material-symbols-outlined" [matTooltip]="tooltips['visible_public']"
          >visibility</mat-icon>
          <span class="cdk-visually-hidden">{{ tooltips["visible_public"] }}</span>
        }
      }

      <app-deadline-hourglass
        [completionDate]="board().CompletionDateUtc"
        [deadlineDate]="board().CompletionDeadlineUtc"
      ></app-deadline-hourglass>

      @if (goalReached()) {
        <mat-icon fontSet="material-symbols-outlined" class="trophy"
          [matTooltip]="'Goal reached on ' + (board().CompletionDateUtc | date : 'MMM dd, yyyy')"
          >trophy</mat-icon>
      } @else { 
        <svg
          role="img"
          [attr.aria-label]="boardStats().checkedCells + '/' + totalCells + ' tasks marked as done'"
          matTooltip="{{ boardStats().checkedCells + '/' + totalCells + ' tasks marked as done' }}"
          viewBox="0 0 100 100"
          width="24px"
          height="24px"
          style="--chart-green: {{ (boardStats().bingoCells / totalCells) * 360 }}deg;
                    --chart-yellow: {{ (boardStats().checkedCells / totalCells) * 360 }}deg;
                    --chart-blue: {{ ((boardStats().checkedCells + pendingSelectCount()) / totalCells) * 360 }}deg">
          <defs>
            <mask id="smallmask">
              <circle cx="50" cy="50" r="45" fill="white" />
              <circle cx="50" cy="50" r="30" />
            </mask>
          </defs>

          <foreignObject x="0" y="0" width="100" height="100" mask="url(#smallmask)">
            <div class="gradient" xmlns="http://www.w3.org/1999/xhtml"></div>
          </foreignObject>
        </svg>
      }

      <button matIconButton disabled (click)="(null)" aria-hidden="true">
        <mat-icon>history</mat-icon>
      </button>
    </div>

    <menu>
      <button
        [matTooltip]="buttonLabel"
        attr.aria-label="{{ buttonLabel }}"
        matIconButton
        (click)="gridMode() === 'grid' ? gridMode.set('list') : gridMode.set('grid')">
        <mat-icon>{{ gridMode() === "grid" ? "list" : "grid_on" }}</mat-icon>
      </button>
    </menu>
  </section>
</ng-template>
