@let minDate = minDate$ | async; @let canOnlyRemove = canOnlyRemove$() | async;

<!-- DEADLINE -->

<!-- prettier-ignore -->
@if (!displayDeadline()) {

} @else if (deadlineInputsDisplay() === 'none'){
<div class="horizontal">
  @if (!!gameModeForm().getRawValue().CompletionDeadlineUtc) {
  <span
    >Deadline:
    <time
      [attr.datetime]="gameModeForm().getRawValue().CompletionDeadlineUtc"
      class="gray"
      >{{(gameModeForm().getRawValue().CompletionDeadlineUtc 
      | intlDate : {dateStyle: 'medium', timeStyle: 'short', hour12: false})}}</time
    >
  </span>

  <!-- prettier-ignore -->
  @let tooltip = 'Remove deadline (' + (gameMode() === 'todo' ? 'To-do' : 'Traditional') + ' game mode)';
  <button
    matIconButton
    [matTooltip]="tooltip"
    (click)="gameModeForm().controls.CompletionDeadlineUtc.setValue(null)"
    [attr.aria-label]="tooltip">
    <mat-icon>close_small</mat-icon>
  </button>
  } @else {
  <span>No deadline set</span>
  <button
    matIconButton
    [disabled]="canOnlyRemove"
    (click)="showDeadlineInputs()"
    aria-label="Add deadline"
    [matTooltip]="'Add deadline'">
    <mat-icon>add</mat-icon>
  </button>
  }
</div>
} @else {
<mat-form-field [subscriptSizing]="'dynamic'">
  <mat-label>Deadline date</mat-label>
  <input
    matInput
    [min]="minDate"
    [matDatepicker]="datepicker"
    [formControl]="gameModeForm().controls.CompletionDeadlineUtc" />
  <mat-datepicker #datepicker />
  <mat-datepicker-toggle [for]="datepicker" matSuffix />
</mat-form-field>

<mat-form-field [subscriptSizing]="'dynamic'">
  <mat-label>Deadline time</mat-label>
  <input
    matInput
    [disabled]="!gameModeForm().getRawValue().CompletionDeadlineUtc"
    [matTimepicker]="timepicker"
    name="deadlinepicker"
    #timepickerInput="ngModel"
    [matTimepickerMin]="minTime$() | async"
    [ngModel]="gameModeForm().getRawValue().CompletionDeadlineUtc"
    (ngModelChange)="setTime($event);" />
  <mat-timepicker #timepicker />
  <mat-timepicker-toggle [for]="timepicker" matSuffix />

  @if (!!timepickerInput.errors?.['matTimepickerParse']) {
  <mat-error>Please enter a valid time</mat-error>
  } @if (timepickerInput.enabled && timepickerInput.valid) {
  <mat-hint>Deadline must be at least 15 minutes from now</mat-hint>
  }
</mat-form-field>

@if (!createMode()) {
<button matButton (click)="commitDeadline(true)">Cancel deadline</button>
<button
  matButton="outlined"
  [disabled]="!gameModeForm().getRawValue().CompletionDeadlineUtc"
  (click)="commitDeadline()">
  Set deadline
</button>
} }

<!-- REWARD -->

<!-- prettier-ignore -->
@if (!canOnlyRemove) {
<mat-form-field [subscriptSizing]="'dynamic'">
  <mat-label>Completion reward</mat-label>
  <input
    matInput
    placeholder="You've earned ..."
    [formControl]="gameModeForm().controls.CompletionReward" />
  @if (completionRewardHint$() | async; as rewardHint) {
  <mat-hint>{{rewardHint}}</mat-hint>
  } @if(gameModeForm().controls.CompletionReward.hasError("maxlength")) {
  <mat-error> You can only enter 200 characters. </mat-error>
  }
</mat-form-field>
} @else {
<!-- prettier-ignore -->
@let reward = gameModeForm().getRawValue().CompletionReward;
@if (reward) {
@let tooltip = 'Remove reward (' + (gameMode() === 'todo' ? 'To-do' : 'Traditional') + ' game mode)';
<div class="horizontal">
  <span>Completion reward: {{ reward }}</span>
  <button
    matIconButton
    [matTooltip]="tooltip"
    (click)="gameModeForm().controls.CompletionReward.setValue(null)"
    [attr.aria-label]="tooltip">
    <mat-icon>close_small</mat-icon>
  </button>
</div>
} @else {
<div>No reward set</div>
} }
